.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.image {
  width: 31.60%;
  background-size: cover !important;
  margin: 5px;
  cursor: pointer;
}

.image:nth-child(even) {
  height: 66.2%;
}

.image:nth-child(2n+4) {
  margin-top: -35.5%;
}

.image:nth-child(odd) {
  height: 30%;
}